.sadFace{
    width: 100px;
    height: 100px;
}

.sad-face-outline{
    fill:none;
    stroke:#231122;
    stroke-width:3px;
}

.sad-eye{
    fill: #231122; 
    transition: 0.5s;
}

.sad-eyelid{
    fill: #dfe0dd;
}
.sad-mouth{
    fill: none;
    stroke:#231122;
    stroke-width:5; 
    transition: 0.5s;
}

.sadFace:hover .sad-eye{
    fill: #ed9797;
    stroke:#ed9797;
    stroke-width:3;
    transition: 0.2s; 
}

.sadFace:hover .sad-mouth{
    stroke:#ed9797;
    transition: 0.2s;
}

.sadFace:active .sad-eye{
    fill: #e01d1d;
    stroke:#e01d1d;
    stroke-width:3; 
}

.sadFace:active .sad-mouth{
    stroke:#e01d1d;
    transform: translateY(65px) translateX(15px) rotate(0deg);
    stroke-width: 3;
    transition: 0.5s;
}

.sadFace:active .sad-eyelid{
    transform: translateY(23px) ;
    transition: 0.4s;  
}

.sadFace:hover .sad-face-outline{
    stroke:#ed9797;
}

.sadFace:active .sad-face-outline{
    stroke:#e01d1d;
}
