.smileyFace{
    width: 100px;
    height: 100px;
}

.smile-face-outline{
    fill:none;
    stroke:#231122;
    stroke-width:3px;
}

.smile-eye{
    fill: #231122; 
    transition: 0.5s;
}

.smile-right-eyelid{
    transform: translateY(3px) ;
    fill: #dfe0dd;
}

.smile-mouth{
    transform: translateY(62px) translateX(23px) rotate(0deg);
    fill: none;
    stroke:#231122;
    stroke-width:5; 
}

.smileyFace:hover .smile-eye{
    fill: #E18900;
    stroke:#E18900;
    stroke-width:3;
    transition: 0.2s; 
}

.smileyFace:hover .smile-face{
    stroke: #E18900;
}
.smileyFace:hover .smile-mouth{
    fill: #E18900;
    stroke:#E18900;
    stroke-width:1; 
    transition: 0.2s;
}

.smileyFace:active .smile-eye{
    fill: #4CAF50;
    stroke:#4CAF50;
    stroke-width:3; 
}

.smileyFace:active .smile-mouth{
    fill: #4CAF50;
    stroke:#4CAF50;
    stroke-width:1; 
    transform: translateY(62px) translateX(25px) rotate(-5deg);
    transition: 0.5s;
}

.smileyFace:active .smile-face{
    stroke: #4CAF50;
}

.smileyFace:active .smile-right-eyelid{
    transform: translateY(25px) ;
    transition: 0.4s;   
}

.smileyFace:hover .smile-face-outline{
    stroke:#E18900;
}

.smileyFace:active .smile-face-outline{
    stroke:#4CAF50;
}