.Article {
    margin: 0 auto;
    width: 800px;
    padding-bottom: 2%;
    background-color: #d2d3c7;
}

.Article-title-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 50%;
}

.Article-intro{
    color:#3f1f3e;
    padding: 20px 100px 50px 75px;
}

.Article-intro ul li a {
    color:#542189;;
}