.seriousFace{
    width: 100px;
    height: 100px;
}

.serious-face-outline{
    fill:none;
    stroke:#231122;
    stroke-width:3px;
}


.serious-eye{
    fill: #231122; 
    transition: 0.5s;
}

.serious-mouth{
    transform: translateY(60px) translateX(15px) rotate(0deg);
    fill: none;
    stroke:#231122;
    stroke-width:5; 
    transition: 0.5s;
}


.seriousFace:hover .serious-eye{
    fill: #715353;
    stroke:#715353;
    stroke-width:3;
    transition: 0.2s; 
}


.seriousFace:hover .serious-mouth{
    fill: #715353;
    stroke:#715353;
    transition: 0.2s;
    transform: translateY(60px) translateX(15px) rotate(0deg);
}

.seriousFace:active .serious-eye{
    fill: #aaa4a4;
    stroke:#aaa4a4;
    stroke-width:3; 
}

.seriousFace:active .serious-mouth{
    fill: #aaa4a4;
    stroke:#aaa4a4;
    transform: translateY(50px) translateX(15px) rotate(13deg);
    transition: 0.5s;
}

.seriousFace:hover .serious-face-outline{
    stroke:#715353;
}

.seriousFace:active .serious-face-outline{
    stroke:#aaa4a4;
}

